// styles.scss
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

//background
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../images/background-compressed.png') no-repeat;
    filter: brightness(80%);
    background-size: cover;
    transition: 1s opacity;
}

//nav
.sidenav .col-xs-1{
  width: 10%;
}
@media (max-width:900px){
  .col-xs-1{
    width:100px;
  }
}
.sidenav{
  padding-left: 0;
}
.nav, .navbar-default {
  height: 100vh;
  background-color: #3a4a57;
  border-color: #3a4a57;
  word-wrap: break-word;
  width:100%;
  overflow: auto;
  border: 0;
}
@media (min-width: 768px){
  .navbar{
    border-radius: 0;
  }
}
.nav li a{
  color: #fff;
  width: 100%;
  &:hover{
    color:#3a4a57;
    background-color: #eee;
  }
}
.nav-stacked>li+li{
  margin-top:0;
}
.nav-pills>li>a {
  border-radius: 0;
  height:33.3vh;
  padding: 10px 10px;
  font-size: .8em;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  width:10000px; //over ride bootstrap pixel based style
}
@media (min-width:1250px){
  .nav-pills>li>a{
    font-size:1.2em;
  }
}

@media (max-width:900px){
  .nav-pills>li>a{
    font-size:.7em;
  }
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color:#3a4a57;
    background-color: #fff;
    border-radius: 0;
}

//main content
.container{
  width: 96%;
  margin:2.5em auto;
}

@media (max-width: 400px){
  .container{
    margin-left: 5%;
  }
}

.row{
  margin-bottom: 1em;
}

figure{
  padding:1em;
}

.header {
  border-top:2px #fff solid;
  border-bottom:1px rgba(255,255,255,.5) solid;
  height: 100%;
  & h1 {
  color:#fff;
  margin-top:10px;
  font-weight: 700;
  font-size: 2em;
  }
}

.header h1:hover, cite:hover{
    color: #f7da32;
}

@media (min-width:1250px){
  .header h1 {
      font-size: 2.9em;
    }
  }

@media (min-width:769px){
  .header{
    font-size: 18px;
    padding-bottom: 1em;
  }
}

@media (max-width:650px){
  .header{
    & h1{
    font-size: 20px;
  }
  }
}

@media (max-width:400px){
  .header{
    margin-bottom: 20px;
    & h1{
    font-size: 14px;
    margin-left: 0;
  }
  }
}

.fa{
  color:#fff;
  font-size: .6em;
}
.quote {
  color: #fff;
  padding: 10px 0;
  & p{
  font-size: .8em;
  font-weight: 300;
  margin-top: 1em;
  }
}

@media (min-width:1250px){
  .quote p{
    font-size: 1em;
    }
  }

.noRightPad{
  padding-right: 0;
}

cite{
  color: #fff;
  font-style: normal;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}

@media (min-width:1250px){
  cite{
    font-size: 1.4em;
    }
  }

@media (max-width:1000px){
  cite{
    font-size: .9em;
  }
}

@media (max-width:900px){
  .quote{
    padding: 10px;
  }
}

//yellow graph
.graph{
  background-image: url(../images/s1-img-3.png);
  background-size: cover;
  position: relative;
  height: 25vh;
  min-height:160px;
  margin-bottom: 1.5em;
  & img{
    position: absolute;
    bottom: 11%;
    padding-bottom: 1.6em;
    padding-left: 1.3em;
    width: 3.8em;
  }
  & h3{
    color: #3a4b58;
    position: absolute;
    left: 3em;
    bottom: 10%;
    padding: 0 1em;
    font-size: 1.4em;
  }
}

@media (min-width:1250px){
  .graph{
  margin-top: 10px;
  font-size: 1.2em;
  }
}

@media (max-width: 1050px){
  .graph h3{
    font-size: 1em;
    bottom: 15%;
    left: 10%;
  }
  .graph img{
    display: none;
  }
}


//pie charts
.set-size {
  font-size: 10em;
  margin-left:-10px;
  margin-bottom:10px;
}

@media (min-width:1900px){
  .set-size{
  margin-left: 10%;
  }
}

@media (min-width:1250px){
  .set-size{
  font-size: 14em;
  }
}

@media (max-width:700px){
  .set-size{
    margin-left:35%;
  }
}

@media (max-width:600px){
  .set-size{
    margin-left:25%;
  }
}

@media (max-width:400px){
  .set-size{
    margin-left:12%;
  }
}

.charts-container:after {
  clear: both;
  content: "";
  display: table;
}
.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 0;
  position: relative;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  border: 1px solid #fff;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  position: absolute;
  height: 80%;
  width: 80%;
  left: 10%;
  top: 10.2%;
}
.pie-wrapper .label {
  border: 1px solid rgba(255,255,255,.3);
  border-radius: 50%;
  bottom: 0.4em;
  color: #f7da32;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
  padding-top: .8em;
  & .smaller{
    color: #fff;
    font-size: .8rem;
    font-weight: 300;
    display: block;
    text-align: center;
  }
  &:hover{
    color: #fff;
  }
}

@media (min-width:1250px){
  .pie-wrapper .label{
    & .smaller{
      font-size: 1rem;
    }
  }
}

.pie-wrapper.progress-14 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-14 .pie .half-circle {
  border-color: #fff;
}
//360/100*deg
.pie-wrapper.progress-14 .pie .left-side {
  -webkit-transform: rotate(50.4deg);
          transform: rotate(50.4deg);
}
.pie-wrapper.progress-31 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-31 .pie .half-circle {
  border-color: #fff;
}
.pie-wrapper.progress-31 .pie .left-side {
  -webkit-transform: rotate(111.6deg);
          transform: rotate(111.6deg);
}

//animations
.typed-cursor{
  display:none;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #3a4a57;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 20px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: rgba(255,255,255,0);
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect:hover h2{
  color: rgba(255,255,255,1);
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  filter: alpha(opacity=100);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
